/* shared style */
.fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
}

.fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
}

.fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
}

.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
}

/* banner styles */
.banner {
    display: flex;
    flex-direction: row;
    gap: 64px;
    margin: 120px 160px 80px 160px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    width: 1280px;
    height: 560px;
    justify-content: center;
    align-items: center;
    padding: 80px 100px 80px 100px;
}

.banner-title {
    color: rgba(124, 111, 111, 0.5);
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 0;
}

.banner-subtitle {
    color: rgb(14, 14, 14);
    font-size: 56px;
    line-height: 67px;
    text-align: left;
    width: 622px;
    height: 201px;
    padding: 0px;
    margin: 16px 0px;
}

.btn-primary {
    border-radius: 8px;
    background: rgb(0, 106, 80);
    width: 275px;
    height: 56px;
    padding: 17px 34px 17px 34px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 24px;
}

/* vision-style */
.visions {
    width: 1500px;
    height: 560px;
    margin: 120px 16px 80px 160px;
}

.section-title {
    color: rgb(14, 14, 14);
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
}

.section-description .vision-description {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 24px;
}

.vision-container {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.vision-1 {
    width: 450px;
    height: 325px;
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
    padding: 32px;
}

.vision-2 {
    width: 450px;
    height: 325px;
    border-radius: 16px;
    background: rgb(198, 228, 214);
    padding: 32px;

}

.vision-3 {
    width: 450px;
    height: 325px;
    border-radius: 16px;
    background: rgb(247, 235, 207);
    padding: 32px;
}

.btn-secondary-1 {
    border-radius: 8px;
    background: rgb(84, 144, 245);
    width: 122px;
    height: 41px;
    padding: 11px 20px 11px 20px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0%;
    margin-top: 24px;
}

.btn-secondary-2 {
    border-radius: 8px;
    background: rgb(9, 161, 92);
    width: 122px;
    height: 41px;
    padding: 11px 20px 11px 20px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0%;
    margin-top: 48px;
}

.btn-secondary-3 {
    border-radius: 8px;
    background: rgb(255, 194, 57);
    width: 122px;
    height: 41px;
    padding: 11px 20px 11px 20px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0%;
    margin-top: 40px;
}

/* news style */
.news-title {
    color: rgba(14, 14, 14, 0.8);
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
}
.news-section{
    width: 1550px;
    height: 402px;
    margin: 120px 16px 80px 160px;
}
.news{
    background: rgb(255, 255, 255);
    border-radius: 24px;
    border-color: black;
    padding: 48px;
    display: flex;
    gap: 32px;
    
}